.assist-bar {
  display: flex;
  padding: 25px 30px;
  color: rgb(232, 223, 223);
  border: 0.5px solid rgb(121, 117, 117);
  width: 460px;
  height: 35px;
  margin: 3px;
 
  font-weight: bold;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  
  font-size: 16px;
  letter-spacing: 0.1px; /* subtle spacing */
}


/* Hover effect: rise up */
.assist-bar:hover {
  transform: translateY(-3px); /* slightly higher lift */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   background: linear-gradient(
    135deg,
    rgba(13, 36, 42, 0.4),
    rgba(21, 155, 188, 0.4),
    rgba(22, 54, 61, 0.5),
    rgba(21, 134, 159, 0.7)  /* third color */
  );
}


header {

  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0b2d34;
 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.b3 {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.0rem 0.0rem;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #25D366;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.rem;
}

.b3:hover {
  background-color: #1ebe5d;
  transform: scale(1.05);
}

/* Remove default link styling inside button */
.b3 a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.b4 {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.0rem 0.0rem;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #df3434;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.rem;
}

.b4:hover {
  background-color: #020e07;
  transform: scale(1.05);
}

/* Remove default link styling inside button */
.b4 a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}



